/* src/pages/chat/ChatPage.css */
.chat-page {
  display: flex;
  height: 90vh;
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.chat-list-container {
  width: 25%;
  border-right: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
}

.chat-box-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e8f0fe;
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #555;
}
